.container {
    display: flex;
    margin: 100px 50px 50px 50px;
}

.content {
    width: 156px;
    border: 1px solid black;
    margin: 0 auto;
}

.item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border: 1px solid black;
    cursor: pointer;
    vertical-align: middle;
    transition: background 0.1s;
}

.item:hover {
    background-color: #f1f1f10c;
}

.hidden {
    display: none;
}

.users {
    display: flex;
}

.first {
    width: 50px;
    color: red;
}

.second {
    width: 50px;
    color: red;
}

.active {
    color: green;
}