:root {
  --main-text-color: #363636;
  --accent-color: #2196f3;
  --blueberry: #6f7a8f;
  --appricot: #f7882f;
  --apple: #dcc7aa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
  background-color: var(--apple);
  color: var(--blueberry);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.content {
  width: 156px;
  border: 1px solid black;
  margin: 0 auto;
}

.item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.1s;
}

.item:hover {
  background-color: #f1f1f10c;
}

.players {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.users {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  gap: 25px;
  font-weight: 500;
  align-items: center;
}

.second,
.first {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  position: relative;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}

.second::after,
.first::after {
  content: "";
  background-color: #e36a6a;
  width: 100%;
  z-index: -1;
  position: absolute;
  border-radius: 5px;
  height: 100%;
  top: 7px;
  left: 7px;
}

.active {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
.active::after {
  content: "";
  background-color: #74ae73;
  width: 100%;
  z-index: -1;
  position: absolute;
  border-radius: 5px;
  height: 100%;
  top: 7px;
  left: 7px;
}

.user-form {
  text-align: center;
  padding: 10px;
}

.form-title {
  padding: 15px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  color: var(--blueberry);
}
.label-form {
  display: flex;
  max-width: 450px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  color: var(--blueberry);
}

.input-form {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--blueberry);
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.input-form:focus-visible {
  outline: 1px solid var(--appricot);
  border-color: var(--appricot);
}

.fill {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: var(--appricot);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  border-radius: 5px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .label-form {
    max-width: 300px;
  }
  .players {    
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .users {
    flex-direction: column;
    gap: 8px;
    font-size: 15px;
  }
  .first,
  .second,
  .active,
  .fill {
    font-size: 15px;
  }
}
